.swish_this * {
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}

.swish_front , .swish_back{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.swish_back {
}
.swish_front {
}
